version: "3.8"
services:
  bz-load-balancer:
    image: {{ registry_ip }}:{{ registry_port }}/bz-load-balancer:{{ item.env }}
    build: ./bz-load-balancer
    deploy:
      replicas: 1
      restart_policy:
        condition: any
    networks:
      - my_network

networks:
  my_network:
    driver: overlay
