version: "3.8"

services:
{% for service in item.services %}
  {{ service.name }}:
    image: {{ service.image }}
    networks:
      - bz-traefik_{{ swarm_traefik_network_name }}
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.whoami.rule=Host(`whoami.local`)"
        - "traefik.http.routers.whoami.entrypoints=web"
        - "traefik.http.services.traefik_whoami.loadbalancer.server.port=80"
      restart_policy:
        condition: on-failure
        max_attempts: 3
      replicas: {{ service.replicas }}
  {% endfor %}

networks:
  bz-traefik_{{ swarm_traefik_network_name }}:
    external: true
  