stacks:
  - stack_name: bz-core
    env: dev
  - stack_name: bz-tools
    env: dev
    services:
      - name: test
        image: traefik/whoami:latest
      - name: ittools
        image: corentinth/it-tools
      - name: dozzle
        image: amir20/dozzle:latest
        deploy_mode: global
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
        environment:
          - DOZZLE_LEVEL=debug
          - DOZZLE_MODE=swarm
          - DOZZLE_AUTH_PROVIDER=simple
