version: "3.8"

services:
{% for service in item.services %}
  {{ service.name }}:
    image: {{ service.image }}
    networks:
      - {{ swarm_internal_network_name }}
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.{{ service.name }}.rule=Host(`{{ service.name }}.bazaarlab.net`)"
        - "traefik.http.routers.{{ service.name }}.entrypoints=websecure"
        - "traefik.http.routers.{{ service.name }}.tls=true"
        - "traefik.http.routers.{{ service.name }}.tls.certresolver=cloudflare"
        - "traefik.http.services.web.loadbalancer.server.port=80"
      restart_policy:
        condition: on-failure
        max_attempts: 3
      replicas: 1
{% endfor %}

networks:
  {{ swarm_internal_network_name }}:
    name: {{ swarm_internal_network_name }}
    external: true