- name: Build and deploy core services
  hosts: managers
  become: true
  vars_files:
  - ../vars/secrets.yml
  - ../vars/stack.yml
  - ../vars/network.yml
  - ../vars/commons.yml
  roles:
    - role: stack


    